<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Projects</title>
</head>
<body>
	<div class="row">
		<div class="col s3 sidebar">
			<h5 class="center-align">Projects</h5>
			<ul class="collapsible">
				<!--PXM TYPE-->
				<li>
					<div class="collapsible-header"> PXM <span class="badge">168</span></div>
					<div class="collapsible-body">
						<ul class="collection">
							<li class="collection-item">PL100101</li>
							<li class="collection-item">PL100102</li>
							<li class="collection-item">PL100103</li>
							<li class="collection-item">PL100104</li>
							<li class="collection-item">PL100105</li>
						</ul>
					</div>
				</li>
				<!--NBM TYPE-->
				<li>
					<div class="collapsible-header"> NBM <span class="badge">241</span></div>
					<div class="collapsible-body">
						<ul class="collection">
							<li class="collection-item">PL100101</li>
							<li class="collection-item">PL100102</li>
							<li class="collection-item">PL100103</li>
							<li class="collection-item">PL100104</li>
							<li class="collection-item">PL100105</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>

		<div class="col s9 main-content">
			<div class="card-panel">
				<h5 class="center-align">Active Project</h5>
				<!-- Информация о текущем проекте -->
			</div>

			<div class="card-panel">
				<h5 class="center-align">Context Menu</h5>
				<!-- Меню контекстных действий -->
			</div>

			<div class="card-panel">
				<h5 class="center-align">Information Panel</h5>
				<!-- Панель с информацией -->
			</div>
		</div>
	</div>

<script src="../static/projects.js"></script>
</body>
</html>